*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header {

    /* border: 1px solid black; */
    justify-content: space-around;
    background-color:white;
    display: flex;
    height: 150px;

}
.logo img {

   width: 170px;
   height: 145px;
   

}
.anchorlink {
    
    color: rgba(173, 101, 101, 0.655);
    border-radius: 8px;
    height: 10px;
    display: flex;
    padding-top: 90px;
    gap: 30px
    

}
.anchorlink :hover {
color: blue;
background-color: blueviolet;
transform: translateY(7);
}
.sociallink {

    color: rgba(173, 101, 101, 0.655);
    font-size: 40px;
    display: flex;
    padding-top: 70px;
    gap: 12px;

}
.sociallink :hover {
    color: rgba(212, 225, 228, 0.694);
background-color: rgba(183, 154, 185, 0.512);
transform: translateY(7);
height: 27px;
border-radius: 10px;
z-index: 1;
}
.container1 {
    height: 50px;
    text-align: center;
    font-size: 30px;
    color:white;
    background-color: rgb(3, 3, 37);

}
.container2{
    text-align: center;
    padding: 50px;

}
.container2 h1{
    font-size: 30px;
}
.container2 h2 {
    font-size: 25px;
}
.container2 P {
    font-size: 20px;
    padding-top: 15px;
}
.container2 button {
    text-align: center;
    height: 50px;
    width: 200px;
    color: white;
    border-radius: 25px;
    background-color:rgb(1, 1, 24);
}
.container2 button :hover {
    background-color: white;
    color: black;
    transform: translateY(7);
    z-index: -3;
    width: 200px;
    height: 50px;


}
.container3 {
    padding: 30px;
    text-align: center;
    font-size: small;
    background-color: rgb(1, 1, 21);
    color: white;
}