*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.header {

    /* border: 1px solid black; */
    justify-content: space-around;
    background-color:white;
    display: flex;
    height: 150px;

}
.logo img {

   width: 170px;
   height: 145px;
   

}
.anchorlink {
    
    color: rgba(173, 101, 101, 0.655);
    border-radius: 8px;
    height: 10px;
    display: flex;
    padding-top: 90px;
    gap: 30px
    

}
.anchorlink :hover {
color: blue;
background-color: blueviolet;
transform: translateY(7);
}
.sociallink {

    color: rgba(173, 101, 101, 0.655);
    font-size: 40px;
    display: flex;
    padding-top: 70px;
    gap: 12px;

}
.sociallink :hover {
    color: rgba(212, 225, 228, 0.694);
background-color: rgba(183, 154, 185, 0.512);
transform: translateY(7);
height: 27px;
border-radius: 10px;
z-index: 1;
}
.container1 {
    justify-content: center;
    padding-left: 100px;
    height: 40px;
    display: flex;
}
.container1 .select{
    width: 180px;
    height: 30px;
    justify-content: center;
    outline: none;
    border: none;
   }
   .container1 .home {
    border: 2px;
    width: 200px;
    height: 20px;
    padding-left: 13px;
   }
 .container1 .select{
    padding-left: 30px;
    color: black;
    font-weight: bold;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:rgb(7, 7, 46) ;
    color: white;
   }
   .container1 button{
    width: 130px;
    margin-left: 20px;
    height: 30px;
    border-radius: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    color: white;
    background-color: rgb(5, 5, 49);
   }
   
   .container2{
    height: 27px;
    border: 2px solid rgb(1, 1, 34);
    text-align: center;
    background-color: rgb(9, 9, 62);
   }
   .container2 :hover {
    color: white;
    background-color: rgb(2, 2, 27);
    transform: translateY(7);
    height: 27px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 1;
   }
   .container3 {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: space-between;
   padding-top: 40px;
   }
  
   .container3 p {
    padding-top: 40px;
   }
   .container3 img {
    width: 260px;
    height: 180px;
   }
   .container4 {
    display: flex;
    padding-left: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   justify-content: space-between;
   padding-top: 40px;
   }
   .container4 img{
    width: 270px;
    height: 200px;
   }
   .container5{
    background-color: rgb(3, 3, 36);
    height: 250px;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
   }
  .container5 img{
    display: flex;
   padding-top: 55px;
    width: 270px;
    height: 230px;
  }
  .container6 {
    background-color: white;
    text-align: center;
    justify-content: center;
    padding-top: 100px;
    font-size: 40px;
    height: 50vh;

}
  .container6 button{
    text-align: center;
    height: 50px;
    width: 200px;
    color: black;
    border-radius: 25px;
    background-color: white;
}
.ttt {
    padding: 30px;
    text-align: center;
    font-size: small;
    background-color: rgb(10, 10, 63);
    color: white;
}